body {
    background-image: url('../images/fondo/fondo.jpg'); /* Ruta a la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    height: 100vh; /* Hace que el fondo cubra toda la altura de la ventana */
}
body {
    background-image: url('/path-to-your-image/sol.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
